.myBox2 {
    border-radius: 0.5rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 25rem;
    background-color: white;
    position: relative;
    box-shadow: 0.2rem 0.3rem #8888885c;
}

.translations {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 14px;
    color: #333131e3;
    text-align: left;
}

.translations ul {
    list-style-type: none;
}



.Profile .btn{
    float:none;
    margin-left: 20rem;
    margin-top: 0.5rem;
}