main {
    font-family: 'Kaisei Tokumin', serif;
    text-align: center;
}

Form {
    border-radius: 2rem;
    padding-top: 1.5rem;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.myBox {
    border-radius: 0.5rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 12rem;
    background-color: white;
    position: relative;
    box-shadow: 0.2rem 0.3rem #8888885c;
}

.translation {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 14px;
    color: #888888e3;
}

.translation ul {
    list-style-type: none;
}

.translation li {
    display: inline-block;
}

.translation img {
    width: 3rem;
    margin: 0;
    padding: 0;
}