.navbar, .navbar-default {
    background-image: linear-gradient(to bottom,#d9bd98 0,#c8a084 100%) !important;
    font-family: 'Vollkorn SC', serif;
    vertical-align:middle;
}

.material-icons{
    padding: 0.2rem;
    margin-right: 0.2rem;
    vertical-align:middle;
}