.btn {
    background-color: #c8a084;
    border: solid #be997d;
}

body {
    background-color: #886d582f;
}

.form-label {

    font-family: 'Vollkorn SC', serif;
}

.image {
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.loginBox {
    padding-top: 1.5rem;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}